body {
  background-color: rgb(241, 241, 241);
}

.frame {
  align-self: center;
  background-color: snow;
  width: 300px;
  height: 250px;
  box-shadow: 5px;
  background-image: url(https://mar.prod.image.rndtech.de/var/storage/images/maz/brandenburg/is-terrorist-im-beschaulichen-bliesdorf/426187292-16-ger-DE/IS-Terrorist-im-beschaulichen-Bliesdorf_big_teaser_article.jpg);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center 70%;
}
